:root {
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary: hsl(45deg, 100%, 50%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);

  --color-black: hsl(0deg, 0%, 0%);
  --color-white: hsl(0deg, 0%, 100%);

  --color-gray-900: hsl(0deg, 0%, 10%);
  --color-gray-700: hsl(0deg, 0%, 30%);
  --color-gray-500: hsl(0deg, 0%, 40%);
  --color-gray-300: hsl(0deg, 0%, 60%);

  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;

  --spacing-1x: 8px;
  --spacing-2x: calc(var(--spacing-1x) * 2);
  --spacing-3x: calc(var(--spacing-1x) * 3);
  --spacing-4x: calc(var(--spacing-1x) * 4);
  --spacing-5x: calc(var(--spacing-1x) * 5);
  --spacing-6x: calc(var(--spacing-1x) * 6);
  --spacing-7x: calc(var(--spacing-1x) * 7);
  --spacing-8x: calc(var(--spacing-1x) * 8);
  --spacing-9x: calc(var(--spacing-1x) * 9);
  --spacing-10x: calc(var(--spacing-1x) * 10);
  --spacing-11x: calc(var(--spacing-1x) * 11);
  --spacing-12x: calc(var(--spacing-1x) * 12);
}
